*{
    margin:0px;
    padding:0px;
}

.slider{
    width: 800px;
    margin-left: 200px;
    margin-top:200px;
    height: 300px;
}

.slider .tigid-slider__item{
    height: 100%;
    margin-right: 5px;
    display: inline-block;
}

.slider .tigid-slider__item img{
    height: 100%;
}